BookDropMachineClient/src/META-INF/wsdl/localhost_8080/IntegratedLibraryWebService/IntegratedLibraryWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.session.ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.session.ejb/" name="IntegratedLibraryWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.session.ejb/" schemaLocation="http://localhost:8080/IntegratedLibraryWebService/IntegratedLibraryWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="retrieveLoansByMemberId">
<part name="parameters" element="tns:retrieveLoansByMemberId"/>
</message>
<message name="retrieveLoansByMemberIdResponse">
<part name="parameters" element="tns:retrieveLoansByMemberIdResponse"/>
</message>
<message name="retrieveLoanByBookId">
<part name="parameters" element="tns:retrieveLoanByBookId"/>
</message>
<message name="retrieveLoanByBookIdResponse">
<part name="parameters" element="tns:retrieveLoanByBookIdResponse"/>
</message>
<message name="LoanNotFoundException">
<part name="fault" element="tns:LoanNotFoundException"/>
</message>
<message name="extendLoan">
<part name="parameters" element="tns:extendLoan"/>
</message>
<message name="extendLoanResponse">
<part name="parameters" element="tns:extendLoanResponse"/>
</message>
<message name="LoanException">
<part name="fault" element="tns:LoanException"/>
</message>
<message name="removeLoan">
<part name="parameters" element="tns:removeLoan"/>
</message>
<message name="removeLoanResponse">
<part name="parameters" element="tns:removeLoanResponse"/>
</message>
<message name="retrieveFinesByMemberIdentityNumber">
<part name="parameters" element="tns:retrieveFinesByMemberIdentityNumber"/>
</message>
<message name="retrieveFinesByMemberIdentityNumberResponse">
<part name="parameters" element="tns:retrieveFinesByMemberIdentityNumberResponse"/>
</message>
<message name="retrieveReservationsByBookId">
<part name="parameters" element="tns:retrieveReservationsByBookId"/>
</message>
<message name="retrieveReservationsByBookIdResponse">
<part name="parameters" element="tns:retrieveReservationsByBookIdResponse"/>
</message>
<message name="retrieveLatestReservationDate">
<part name="parameters" element="tns:retrieveLatestReservationDate"/>
</message>
<message name="retrieveLatestReservationDateResponse">
<part name="parameters" element="tns:retrieveLatestReservationDateResponse"/>
</message>
<message name="ReservationNotFoundException">
<part name="fault" element="tns:ReservationNotFoundException"/>
</message>
<message name="searchBookByTitle">
<part name="parameters" element="tns:searchBookByTitle"/>
</message>
<message name="searchBookByTitleResponse">
<part name="parameters" element="tns:searchBookByTitleResponse"/>
</message>
<message name="BookNotFoundException">
<part name="fault" element="tns:BookNotFoundException"/>
</message>
<message name="memberLogin">
<part name="parameters" element="tns:memberLogin"/>
</message>
<message name="memberLoginResponse">
<part name="parameters" element="tns:memberLoginResponse"/>
</message>
<message name="InvalidLoginException">
<part name="fault" element="tns:InvalidLoginException"/>
</message>
<message name="createNewReservationEntity">
<part name="parameters" element="tns:createNewReservationEntity"/>
</message>
<message name="createNewReservationEntityResponse">
<part name="parameters" element="tns:createNewReservationEntityResponse"/>
</message>
<message name="ReservationException">
<part name="fault" element="tns:ReservationException"/>
</message>
<message name="retrieveBookById">
<part name="parameters" element="tns:retrieveBookById"/>
</message>
<message name="retrieveBookByIdResponse">
<part name="parameters" element="tns:retrieveBookByIdResponse"/>
</message>
<message name="removeFine">
<part name="parameters" element="tns:removeFine"/>
</message>
<message name="removeFineResponse">
<part name="parameters" element="tns:removeFineResponse"/>
</message>
<message name="FineNotFoundException">
<part name="fault" element="tns:FineNotFoundException"/>
</message>
<portType name="IntegratedLibraryWebService">
<operation name="retrieveLoansByMemberId">
<input wsam:Action="http://ws.session.ejb/IntegratedLibraryWebService/retrieveLoansByMemberIdRequest" message="tns:retrieveLoansByMemberId"/>
<output wsam:Action="http://ws.session.ejb/IntegratedLibraryWebService/retrieveLoansByMemberIdResponse" message="tns:retrieveLoansByMemberIdResponse"/>
</operation>
<operation name="retrieveLoanByBookId">
<input wsam:Action="http://ws.session.ejb/IntegratedLibraryWebService/retrieveLoanByBookIdRequest" message="tns:retrieveLoanByBookId"/>
<output wsam:Action="http://ws.session.ejb/IntegratedLibraryWebService/retrieveLoanByBookIdResponse" message="tns:retrieveLoanByBookIdResponse"/>
<fault message="tns:LoanNotFoundException" name="LoanNotFoundException" wsam:Action="http://ws.session.ejb/IntegratedLibraryWebService/retrieveLoanByBookId/Fault/LoanNotFoundException"/>
</operation>
<operation name="extendLoan">
<input wsam:Action="http://ws.session.ejb/IntegratedLibraryWebService/extendLoanRequest" message="tns:extendLoan"/>
<output wsam:Action="http://ws.session.ejb/IntegratedLibraryWebService/extendLoanResponse" message="tns:extendLoanResponse"/>
<fault message="tns:LoanNotFoundException" name="LoanNotFoundException" wsam:Action="http://ws.session.ejb/IntegratedLibraryWebService/extendLoan/Fault/LoanNotFoundException"/>
<fault message="tns:LoanException" name="LoanException" wsam:Action="http://ws.session.ejb/IntegratedLibraryWebService/extendLoan/Fault/LoanException"/>
</operation>
<operation name="removeLoan">
<input wsam:Action="http://ws.session.ejb/IntegratedLibraryWebService/removeLoanRequest" message="tns:removeLoan"/>
<output wsam:Action="http://ws.session.ejb/IntegratedLibraryWebService/removeLoanResponse" message="tns:removeLoanResponse"/>
<fault message="tns:LoanNotFoundException" name="LoanNotFoundException" wsam:Action="http://ws.session.ejb/IntegratedLibraryWebService/removeLoan/Fault/LoanNotFoundException"/>
</operation>
<operation name="retrieveFinesByMemberIdentityNumber">
<input wsam:Action="http://ws.session.ejb/IntegratedLibraryWebService/retrieveFinesByMemberIdentityNumberRequest" message="tns:retrieveFinesByMemberIdentityNumber"/>
<output wsam:Action="http://ws.session.ejb/IntegratedLibraryWebService/retrieveFinesByMemberIdentityNumberResponse" message="tns:retrieveFinesByMemberIdentityNumberResponse"/>
</operation>
<operation name="retrieveReservationsByBookId">
<input wsam:Action="http://ws.session.ejb/IntegratedLibraryWebService/retrieveReservationsByBookIdRequest" message="tns:retrieveReservationsByBookId"/>
<output wsam:Action="http://ws.session.ejb/IntegratedLibraryWebService/retrieveReservationsByBookIdResponse" message="tns:retrieveReservationsByBookIdResponse"/>
</operation>
<operation name="retrieveLatestReservationDate">
<input wsam:Action="http://ws.session.ejb/IntegratedLibraryWebService/retrieveLatestReservationDateRequest" message="tns:retrieveLatestReservationDate"/>
<output wsam:Action="http://ws.session.ejb/IntegratedLibraryWebService/retrieveLatestReservationDateResponse" message="tns:retrieveLatestReservationDateResponse"/>
<fault message="tns:ReservationNotFoundException" name="ReservationNotFoundException" wsam:Action="http://ws.session.ejb/IntegratedLibraryWebService/retrieveLatestReservationDate/Fault/ReservationNotFoundException"/>
</operation>
<operation name="searchBookByTitle">
<input wsam:Action="http://ws.session.ejb/IntegratedLibraryWebService/searchBookByTitleRequest" message="tns:searchBookByTitle"/>
<output wsam:Action="http://ws.session.ejb/IntegratedLibraryWebService/searchBookByTitleResponse" message="tns:searchBookByTitleResponse"/>
<fault message="tns:BookNotFoundException" name="BookNotFoundException" wsam:Action="http://ws.session.ejb/IntegratedLibraryWebService/searchBookByTitle/Fault/BookNotFoundException"/>
</operation>
<operation name="memberLogin">
<input wsam:Action="http://ws.session.ejb/IntegratedLibraryWebService/memberLoginRequest" message="tns:memberLogin"/>
<output wsam:Action="http://ws.session.ejb/IntegratedLibraryWebService/memberLoginResponse" message="tns:memberLoginResponse"/>
<fault message="tns:InvalidLoginException" name="InvalidLoginException" wsam:Action="http://ws.session.ejb/IntegratedLibraryWebService/memberLogin/Fault/InvalidLoginException"/>
</operation>
<operation name="createNewReservationEntity">
<input wsam:Action="http://ws.session.ejb/IntegratedLibraryWebService/createNewReservationEntityRequest" message="tns:createNewReservationEntity"/>
<output wsam:Action="http://ws.session.ejb/IntegratedLibraryWebService/createNewReservationEntityResponse" message="tns:createNewReservationEntityResponse"/>
<fault message="tns:LoanException" name="LoanException" wsam:Action="http://ws.session.ejb/IntegratedLibraryWebService/createNewReservationEntity/Fault/LoanException"/>
<fault message="tns:ReservationException" name="ReservationException" wsam:Action="http://ws.session.ejb/IntegratedLibraryWebService/createNewReservationEntity/Fault/ReservationException"/>
<fault message="tns:LoanNotFoundException" name="LoanNotFoundException" wsam:Action="http://ws.session.ejb/IntegratedLibraryWebService/createNewReservationEntity/Fault/LoanNotFoundException"/>
</operation>
<operation name="retrieveBookById">
<input wsam:Action="http://ws.session.ejb/IntegratedLibraryWebService/retrieveBookByIdRequest" message="tns:retrieveBookById"/>
<output wsam:Action="http://ws.session.ejb/IntegratedLibraryWebService/retrieveBookByIdResponse" message="tns:retrieveBookByIdResponse"/>
<fault message="tns:BookNotFoundException" name="BookNotFoundException" wsam:Action="http://ws.session.ejb/IntegratedLibraryWebService/retrieveBookById/Fault/BookNotFoundException"/>
</operation>
<operation name="removeFine">
<input wsam:Action="http://ws.session.ejb/IntegratedLibraryWebService/removeFineRequest" message="tns:removeFine"/>
<output wsam:Action="http://ws.session.ejb/IntegratedLibraryWebService/removeFineResponse" message="tns:removeFineResponse"/>
<fault message="tns:FineNotFoundException" name="FineNotFoundException" wsam:Action="http://ws.session.ejb/IntegratedLibraryWebService/removeFine/Fault/FineNotFoundException"/>
</operation>
</portType>
<binding name="IntegratedLibraryWebServicePortBinding" type="tns:IntegratedLibraryWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="retrieveLoansByMemberId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveLoanByBookId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="LoanNotFoundException">
<soap:fault name="LoanNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="extendLoan">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="LoanNotFoundException">
<soap:fault name="LoanNotFoundException" use="literal"/>
</fault>
<fault name="LoanException">
<soap:fault name="LoanException" use="literal"/>
</fault>
</operation>
<operation name="removeLoan">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="LoanNotFoundException">
<soap:fault name="LoanNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="retrieveFinesByMemberIdentityNumber">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveReservationsByBookId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveLatestReservationDate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ReservationNotFoundException">
<soap:fault name="ReservationNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="searchBookByTitle">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BookNotFoundException">
<soap:fault name="BookNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="memberLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidLoginException">
<soap:fault name="InvalidLoginException" use="literal"/>
</fault>
</operation>
<operation name="createNewReservationEntity">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="LoanException">
<soap:fault name="LoanException" use="literal"/>
</fault>
<fault name="ReservationException">
<soap:fault name="ReservationException" use="literal"/>
</fault>
<fault name="LoanNotFoundException">
<soap:fault name="LoanNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="retrieveBookById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BookNotFoundException">
<soap:fault name="BookNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="removeFine">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="FineNotFoundException">
<soap:fault name="FineNotFoundException" use="literal"/>
</fault>
</operation>
</binding>
<service name="IntegratedLibraryWebService">
<port name="IntegratedLibraryWebServicePort" binding="tns:IntegratedLibraryWebServicePortBinding">
<soap:address location="http://localhost:8080/IntegratedLibraryWebService/IntegratedLibraryWebService"/>
</port>
</service>
</definitions>